    %svg__icon{
        transition-duration: 250ms; 
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
        transition-property: fill;
    }
    %css__transsition{
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }